* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn {
  width: 20px;
  height: 20px;
  border: solid 0.5px black;
}
#roundOneBtn {
  display: block;
}
.header {
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 20px -10px black;
}

.container {
  position: relative;
  height: 100vh;
  .board {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    position: absolute;
    width: 70%;
    height: 90%;
    box-shadow: 0 0 20px -10px black;
    border-radius: 40px;
    .round {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 10%;
      .guess {
        display: flex;
        align-items: center;
        border: solid 1px red;
        .place {
          width: 45px;
          height: 45px;
          border: solid 1px grey;
          margin-right: 10px;
          border-radius: 50%;
        }
      }
      .status {
        display: flex;
        .placement {
          width: 20px;
          height: 20px;
          border: solid 1px grey;
          margin-left: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}

.colors {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.pick {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 20px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.grey {
  background-color: grey;
}
.orange {
  background-color: orange;
}
.colors {
  display: none;
}

.alert {
  color: red;
}
